:root {
  --main-color: #f0db4f;
  --second-color: #323330;
  --shadow-color: #ae9f39;
  --white-color: rgb(240, 241, 241);
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: #323330;
}
.navbar {
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
}
.logo a {
  display: flex;
  align-items: center;
  margin: 2rem 4rem;
  text-decoration: none;
}
.navbar .logo img {
  width: 50px;
}

.github-profile {
  margin: 2rem 4rem;
}
.intro {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--main-color);
  padding: 8rem 6rem;
}
.about {
  line-height: 3er;
}
.about h2 {
  font-size: 2.5rem;
}
.about > p {
  font-size: 1.6rem;
  padding: 0.8rem;
}
#search {
  width: 95%;
  height: 15%;
  border: 3px solid var(--second-color);
  transition: all 0.2s ease-in;
  background: var(--white-color);
}

#search:focus {
  border-radius: 5px;
  width: 100%;
  outline: none;
  box-shadow: 0px 10px 20px var(--shadow-color);
}
#search::placeholder {
  padding-left: 1.5em;
}
.input-label {
  padding: 1em 0em;
}
.book img {
  max-width: 80%;
  animation: book-animation 3s infinite alternate;
}
@keyframes book-animation {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-40%);
  }
}
.book::before {
  content: "";
  width: 100px;
  height: 100px;
  background: #000;
  font-variant: diagonal-fractions;
}

/* content-area  styling */

#content-area {
  background: var(--white-color);
}
.content {
  padding: 5em 6em;
  border-top: 3px solid var(--second-color);
}
.content h3 {
  padding: 3rem 0rem 2rem;
}
.js-contant ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 5rem);
  grid-auto-rows: 5rem;
  grid-gap: 2rem 3rem;
}
.js-contant ul li {
  display: inline-block;
  background: var(--main-color);
  padding: 1rem 2rem;
  border: 2px solid var(--second-color);
}
.js-contant ul li a {
  text-decoration: none;
}
.last-area {
  background: var(--second-color);
  color: var(--white-color);
  height: 100%;
  padding: 5rem;
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
}
.details {
  margin: 0px 1rem;
}
.details * {
  color: var(--white-color);
  line-height: 2rem;
}
.for-you a,
.recurce a {
  display: block;
}
.details img {
  width: 5rem;
}
.about-hk-js-book {
  flex-basis: 30%;
}
.details #writter a {
  background: var(--main-color);
  color: var(--second-color);
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
}
.copy-icon {
  color: red;
}
.sotto {
  padding: 1rem 0px;
}

.lastName {
  color: var(--white-color);
}
.last-area a {
  text-decoration: 1px underline dotted var(--white-color);
}
